<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

  <label>Name:</label>
  <input type="text" formControlName="name">
  <div *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.invalid">
    Name is required
  </div>

  <label>Email:</label>
  <input type="email" formControlName="email">
  <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid">
    Valid email required
  </div>

  <label>Password:</label>
  <input type="password" formControlName="password">
  <div *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid">
    Minimum 6 characters required
  </div>

  <label>Role:</label>
  <select formControlName="role">
    <option value="customer">Customer</option>
    <option value="admin">Admin</option>
  </select>

  <label>
    <input type="checkbox" formControlName="terms">
    Accept Terms
  </label>

  <br><br>

  <button type="submit" [disabled]="registerForm.invalid">
    Register
  </button>

</form>
